In [6]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [7]:
full_labels = pd.read_csv('data/license_labels.csv')

In [8]:
full_labels.head()

               filename  width  height    class  xmin  ymin  xmax  ymax
0          license0.jpg   3024    4032  license   705   603  2474  3412
1  license0_scaled0.jpg   3024    4032  license   705   698  2470  3307
2  license0_scaled1.jpg   3024    4032  license   957  1281  2187  2755
3  license0_scaled2.jpg   3024    4032  license   813   459  2905  3564
4          license1.jpg   3024    4032  license  1022  1246  1978  2764

In [9]:
grouped = full_labels.groupby('filename')
print(grouped)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000002D9B858C0F0>

In [10]:
grouped.apply(lambda x: len(x)).value_counts()

1    278
dtype: int64

### split each file into a group in a list

In [11]:
gb = full_labels.groupby('filename')

In [16]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [17]:
len(grouped_list)

278

In [18]:
train_index = np.random.choice(len(grouped_list), size=220, replace=False)
test_index = np.setdiff1d(list(range(278)), train_index)

In [19]:
print(train_index)

[ 47 163 223 196  55 253 237 172  85 209 229 151 173 231 220  20 200 107
  22 214 145  99 118 146 203  90 120  17 153 249  75 228 187 247  41 242
 219  45 188 157 119 108 156 124 136 210  29  49   0  66 132 148 192  65
 269 256 126 264   9 201 240 234 216  51 186 244 159 277 268  40   8  92
 180 252 129 232  34  67 221 111  33 113 116 273  79  62  24 261  31 262
  60 178   5  59 134 272 135  74  15 218 175 155  76 167 195 162   3  68
 222 160 266   4 275  77  25 258  19  48 182 133 233 117 147 152  78  56
  57 265  86  42 179 190 165  10 230 170 267  16   7 246  50 177 102 225
 183  97 128 211 251 110  32 276  87 100 142  96   6 213  11 260 243 235
  58 149  26 181 248 189 101 217 104 193  63 166  18 168 199 121 274 141
 130  28  72 239  80  46 254 257  93   2  81 207  35 206 202 115 158 144
 250  36 105 139 106 236 109  88 185 169 137  53  95 122 194 227  23 164
  13 198  61 176]

In [20]:
print(test_index)

[  1  12  14  21  27  30  37  38  39  43  44  52  54  64  69  70  71  73
  82  83  84  89  91  94  98 103 112 114 123 125 127 131 138 140 143 150
 154 161 171 174 184 191 197 204 205 208 212 215 224 226 238 241 245 255
 259 263 270 271]

In [21]:
len(train_index), len(test_index)

(220, 58)

In [22]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [23]:
len(train), len(test)

(220, 58)

In [24]:
train.to_csv('license_train_labels.csv', index=None)
test.to_csv('license_test_labels.csv', index=None)